<?xml version="1.0" encoding="utf-8"?>

<Project>
  <PropertyGroup>
    <PublishProfileName>mybrand</PublishProfileName>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>bin\publishurl\$(PublishProfileName)</PublishUrl>
    <PublishDir>bin\publishdir\$(PublishProfileName)</PublishDir>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_TargetId>Folder</_TargetId>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net7.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <ProjectGuid>785fda1f-9d1b-4d2e-b221-e9e773d9306a</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>